.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #0c7bdc !important;
  }
  
  .Button:active {
    background-color: #00325F !important;
  }
  
  .Button:focus {
    background-color: #0c7bdc;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #00325F;
    color: #ffffff;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #ffffff;
    color: #0c7bdc;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #001B33;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: aliceblue;
    color: #001B33;
  }
  
  .Bright {
    background-color: #ffc20a;
    color: #000;
    font-weight: bold;
  }