.Owner {
    font-weight: bold;
    color: #00325f;
    margin-right: 8px;
  }
  
  .Date {
    font-weight: normal;
    color: #0c7bdc;
  }
  
  .Edited {
    font-weight: normal;
    color: #999;
    padding-left: 10px;
  }