.NavBar {
    background-color: #ffc20a;
    border: 1px solid #dadadf;
}

.Brand {
    font-family: "Aleo", serif;
    font-size: 2rem;
}

.NavLink {
    padding: 5px;
}

.NavLink:hover,
.Toggle:hover {
    color: #f8f8f8;
    background-color: #0c7bdc;
    border-radius: 0.8rem;
}

.NavLink span {
    padding-right: 5px;
}

.Active {
    color: #0c7bdc;
    background-color: #f8f8f8;
    border-radius: 0.8rem;
}

.Toggle {
    border: none;
    padding: 5px;
}

.Toggle i {
    color: #555555;
}

.Toggle:hover i {
    color: #f8f8f8;
}