.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Reaction {
  color: #ff820a;
}

.Reaction:hover {
  color: #0c7bdc;
}

.ReactionOutline:hover {
  color: #ff820a;
}

.DropdownItem:hover {
  background-color: #0c7bdc;
  color:#ffffff;
}

video {
  max-width: 100%;
}

.TagInactive {
  background-color: #f8f8f8;
}

.TagActive {
  background-color: #ffc20a;
}

.TagInactive,
.TagActive {
  font-size: 0.8rem;
  color: #000;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}